<h5 class="card-header info-color white-text text-center py-4">
  <strong style='color:#0289C3'>Edit options of a question</strong>
</h5>
<div class="container" style='margin-bottom:5%;'>
  <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <%= semantic_form_for @question do |form| %>
            <% if question.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>
                <ul>
                  <% question.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group" style='margin-top:4%'>
              <label for="text" style='color:#0289C3'>Question Text:</label>
              <%= form.text_field :text, :class =>'form-control', id: 'text'%>
            </div>
            <div class="form-group">
              <h3 for="text" style='color:#0289C3'>All options</h3>
            </div>
            <%= form.semantic_fields_for :options do |option| %>
              <%= render 'option_fields', :f => option %>
            <% end %>
          <nav class="navbar fixed-bottom navbar-light bg-light">
            <%= form.submit 'Update question', :class => 'navbar-brand button' %>
            <%= link_to 'Back', questions_path, class: 'navbar-brand button' %>
            <%= link_to_add_association 'Add another option', form, :options, class: 'navbar-brand button'%>
          </nav>
          <% end %>
        </div>
      </div>
    </div>
  </div>
